# Discord Bot Token
DISCORD_TOKEN=

# Discord OAuth2 Credentials
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=

# Email Credentials
EMAIL_USER=
EMAIL_PASS=

# App Configuration
APP_URL=
PORT=3000
