# Discord OAuth2 Credentials
DISCORD_CLIENT_ID=1485375910562758967
DISCORD_CLIENT_SECRET=vSOnjPRwqht5eGVSiyQG_yjxlGVdbs9A
DISCORD_REDIRECT_URI=https://bot.fusionhub.in/api/auth/discord/callback

# Email Credentials
EMAIL_USER=
EMAIL_PASS=

# App Configuration
APP_URL=
PORT=3000
