# Discord OAuth2 Credentials
DISCORD_CLIENT_ID=1485375910562758967
DISCORD_CLIENT_SECRET=vSOnjPRwqht5eGVSiyQG_yjxlGVdbs9A
DISCORD_REDIRECT_URI=https://bot.fusionhub.in/auth/callback

# MongoDB Connection
MONGODB_URI=mongodb+srv://fusionbot:tpg@fusionbot.lq3g6fc.mongodb.net/?retryWrites=true&w=majority

# App Configuration
APP_URL=
PORT=3000
